
:root{   
    --main: #DCF2F1;
    --sec: #7FC7D9;
    --third: #365486;
    --accent: #0F1035;
}

body{
    background-color: var(--main);
}


/* NAVBAR */
.navbar{
    background-color: var(--accent);
}

.widthScroll{
    width: 80%;
    margin-left: 20vh;
}

p {
    margin: 0;
}

.navbar-toggler {
    color: white !important;
}

.displayFont{
    font-family: montserrat;
    font-weight: 700;
}

.textFont{
    font-family: fira sans;
    font-weight: 500;
}

.nav-link:hover{
    text-decoration: underline;
}

/* cancello freccette default per dropdown */
.dropdown-toggle::after {  
    display: none;
}

.bi{
    cursor: pointer;
}

.btn:hover{
    background-color: var(--main);
    color: var(--accent);
}

/* home */
.btnTitoli:hover{
    transition: 0.5s;
    scale: 1.2 !important;
    background-color: var(--accent) !important;
    color: var(--main);
}

.titoliBox{
    height: 25vh;
}

/* Carousel Header */
.carouselOne, .carouselTwo, .carouselThree{
    height: 100vh;
    background-image: url(./media/AC.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carouselTwo{
    background-image: url(./media/Avatar.png);
}

.carouselThree{
    background-image: url(./media/XDefiant.png);
}

.btn-primary{
    background-color: var(--accent);
    height: 7vh;
}

.rowMargin{
    margin-top: 40vh;
}




/* immagine intramezzo */

.divIscrHeight{
    height: 40vh;
}

.bgImg{
    background-image: url(./media/iscrBanner.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btnIscr{
    width: 20vh;
}


/* card contatori */
.bi-cart{
    position: absolute;
    right:5%;
    top: 2%;
    font-size: x-large;
    color: white;
    cursor: pointer;
}

.bi-cart-check-fill{
    position: absolute;
    right:5%;
    top: 2%;
    font-size: x-large;
    color: white;
    cursor: pointer;
}


.consoleSize{
    height:30px;
}



/* pagina categorie */
.marginCanvas{
    margin-top: 10vh;
}

.hoverFilters:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* accordions per categorie */
/* background accordion active */
/* .accordion{
    --bs-accordion-active-bg: var(--bs-white);
} */

.catEffetto:hover{
    text-decoration: underline;
    cursor: pointer;
}

.form-control{
    height: 6vh;
}

.card-body{
    background-color: var(--third);
}

.card-title{
    color: var(--main);
}

.textFont{
    color: var(--main);
}

.bi-cart{
    color: var(--main);
}

.consoles{
    background-color: var(--accent);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.accordion-button{
    background-color: var(--third);
    color: var(--main);
}

.collapseOne{
    background-color: var(--main) !important;
}

.form-check-label{
    color: var(--accent);
}

/* tutti i giochi */
.imageCard{
    height: 300px;
}

.marginCard{
    margin-bottom: 20px;
}

.accordion-button{
    height: 10vh;
}

@media only screen and (max-width: 600px) {
    .accordion-button{
        height: 10vh;
    }

    .filters{
        display: flex;
        flex-direction: column;
    }

    .form-control{
        height: 42px;
    }
    
 }

 .btnSearch{
    background-color: var(--third);
    color: var(--main);
 }

 .btnSearch:hover{
    background-color: var(--third);
    color: var(--main);
    scale:1.1;
    transition: 0.5;
 }

 .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}